<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<!-- meta is for when google is trying to index your website. it can be seen by google -->
	<meta name="description" content="Awesome blog by Seyi">
	<meta name="keywords" content="web design by seyi, web dev blog">
	<style type="text/css">
		#main-header{
			text-align:center;
			background-color:black;
			color:white;
			padding:10px;
		}
		
		#main-footer{
			text-align:center;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<header id="main-header">
		<h1>My Website</h1>
	</header>

	<section>
		<article class="post">
			<h3>Blog Post One</h3>
			<p>
				The current-value setting of some widgets (like text entry widgets) can be connected directly to application variables by using special options. These options are variable, textvariable, onvalue, offvalue, and value. This connection works both ways: if the variable changes for any reason, the widget it’s connected to will be updated to reflect the new value.
				<a href="post.html">Read More</a>
				</p>
			<small>Posted by Seyi on MAY 31</small>
		</article>
		<br>
		<article class="post">
			<h3>Blog Post Two</h3>
			<p>
				The current-value setting of some widgets (like text entry widgets) can be connected directly to application variables by using special options. These options are variable, textvariable, onvalue, offvalue, and value. This connection works both ways: if the variable changes for any reason, the widget it’s connected to will be updated to reflect the new value.
				<a href="post.html">Read More</a>
				</p>
			<small>Posted by Seyi on MAY 31</small>
		</article>
		<br>
		<article class="post">
			<h3>Blog Post Three</h3>
			<p>
				The current-value setting of some widgets (like text entry widgets) can be connected directly to application variables by using special options. These options are variable, textvariable, onvalue, offvalue, and value. This connection works both ways: if the variable changes for any reason, the widget it’s connected to will be updated to reflect the new value.
				</p>
				<a href="post.html">Read More</a>
			<small>Posted by Seyi on MAY 31</small>
		</article>
	</section>

	<aside>
		<h3>Categories</h3>
		<nav>
			<ul>
				<li><a href="#">Category 1</a></li>
				<li><a href="#">Category 2</a></li>
				<li><a href="#">Category 3</a></li>
			</ul>
		</nav>
	</aside>

	<footer id="main-footer">
		<p>Copyright &copy; 2021, My Website</p>
	</footer>
</body>
</html>