body{

	font-family: Arial, Calibri, Helvetica, Times New Roman;
	font-size: 15px;
	text-align: center;
}

.container{
	width: 500px;
	height: 700px;
	padding: 20px
	border-radius: 25px;
	margin:auto;
	background: url(background.jpg);
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px 25px;
}

.box1{
	background-color: rgb(56,202,71);
	color: rgb(255,255,255);
	border-radius: 25px;
	height:120px;
}

.firstname{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

.lastname{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

.username{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

.email{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

.password{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

.cpassword{
	width: 350px;
	height: 35px;
	border-radius: 25px;
	font-size: 20px;
}

select{
	width: 250px;
   	margin: 10px;
   	height: 30px;
}

.date{
	width: 200px;
   	margin: 10px;
   	height: 30px;	
}

.signup{
	background-color: rgb(56,202,71);
	width: 350px;
	height: 35px;
	font-size: 20px;
	border-radius: 25px;
	color: rgb(255,255,255);
}

